<template><v-layout row justify-center>
  <v-btn
    color="primary"
    dark
    absolute
    bottom
    right
    fab
    @click="dialog = true"
  >
    <v-icon>add</v-icon>
  </v-btn>

  <v-dialog
    v-model="dialog"
    max-width="600"
  >
    <v-card>
      <v-card-title class="headline">New Brand</v-card-title>

      <v-card-text>
        <v-layout row wrap>
          <v-flex xs12>
              <brand-form></brand-form>
          </v-flex>
        </v-layout>
      </v-card-text>

      <v-card-actions>
        <v-spacer></v-spacer>

        <v-btn
          color="green darken-1"
          flat="flat"
          @click="reset"
        >
          Cancel
        </v-btn>

        <v-btn
          color="green darken-1"
          flat="flat"
          @click="create"
        >
          Create
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-layout>

</template>

<script>
import BrandForm from "./BrandForm";
export default {
    name: "create-brand-modal",
    components: {BrandForm},
    data () {
        return {
            dialog: false
        }
    },
    methods: {
        create() {
            this.dialog = false;
        },
        reset() {
            this.dialog = false;
            window.application.$emit('BRAND_FORM_RESET');

        }
    }
}
</script>

<style scoped>

</style>
