<template>
  <form>
    <span>{{submitStatus}}</span>
    <v-text-field
      v-model="name"
      :error-messages="nameErrors"
      :counter="10"
      label="Name"
      required
      @input="$v.name.$touch()"
      @blur="$v.name.$touch()"
    ></v-text-field>
    <v-select
      v-model="select"
      :items="items"
    >
      <template slot="selection" slot-scope="data">
        {{data.item.name}}
      </template>
      <template slot="item" slot-scope="data">
        {{data.item.name}}
      </template>
    </v-select>
    <!--<v-text-field-->
        <!--label="Avatar"-->
        <!--readonly-->
        <!--v-model="imageName"-->
        <!--@click='pickFile'-->
    <!--&gt;-->

    <!--</v-text-field>-->
    <!--<input-->
        <!--type="file"-->
        <!--style="display: none"-->
        <!--ref="image"-->
        <!--accept="image/*"-->
        <!--@change="onFilePicked"-->
    <!--&gt;-->

    <v-btn @click="submit">submit</v-btn>
    <v-btn @click="clear" >cancel</v-btn>
  </form>
</template>

<script>
  import { validationMixin } from 'vuelidate'
  import { required, maxLength } from 'vuelidate/lib/validators'

  export default {
    mixins: [validationMixin],

    validations: {
      name: { required, maxLength: maxLength(10) }
    },
    props: ['id'],
    data: () => ({
      name: '',
      select: null,
      checkbox: false,
      imageName: '',
      submitStatus: ''
    }),

    computed: {
      checkboxErrors () {
        const errors = []
        if (!this.$v.checkbox.$dirty) return errors
        !this.$v.checkbox.checked && errors.push('You must agree to continue!')
        return errors
      },
      selectErrors () {
        const errors = []
        // if (!this.$v.select.$dirty) return errors
        // !this.$v.select.required && errors.push('Item is required')
        return errors
      },
      nameErrors () {
        const errors = []
        if (!this.$v.name.$dirty) return errors
        !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
        !this.$v.name.required && errors.push('Name is required.')
        return errors
      },
      emailErrors () {
        const errors = []
        if (!this.$v.email.$dirty) return errors
        !this.$v.email.email && errors.push('Must be valid e-mail')
        !this.$v.email.required && errors.push('E-mail is required')
        return errors
      },
      savedCategory() {
          return this.$store.dispatch('getCategoryById', this.id);
      },
      items() {
        return this.$store.getters['categories']
      }
    },
    mounted() {
        console.log("Created form ");
    },
    watch: {
        id(newVal, oldVal) {
            console.log("New Value ", newVal);
            console.log("Old Value ", oldVal);
        },
        savedCategory(newVal, oldVal) {
            console.log("Old Value ", oldVal);
            newVal.then((item) => {
                if(item)
                  this.name = item.name
            });

        }
    },
    methods: {
      submit () {
        this.$v.$touch();
        
        if (this.$v.$invalid) {
            this.submitStatus = 'ERROR'
        } else {
            let category = {
                name: this.name
            };

            if(this.select) {
                category['parent'] = this.select.id;
            }

            console.log("Saving category ", category)

            this.$store.dispatch('add',category)
              .then((response) => {
                  console.log("Response ", response);
                  this.clear();
              })
              .catch((err) => {
                  this.submitStatus = "Network Error";
                  console.log(err);
              });

        }
      },
      clear () {
        this.$v.$reset()
        this.name = ''
        this.email = ''
        this.select = null
        this.checkbox = false
        this.imageName = ''
        window.application.$emit('CLOSE_CREATE_DIALOG');

      },
      pickFile () {
            this.$refs.image.click ()
      },
      onFilePicked (e) {
			const files = e.target.files
			if(files[0] !== undefined) {
				this.imageName = files[0].name
				if(this.imageName.lastIndexOf('.') <= 0) {
					return
				}
				const fr = new FileReader ()
				fr.readAsDataURL(files[0])
				fr.addEventListener('load', () => {
					this.imageUrl = fr.result
					this.imageFile = files[0] // this is an image file that can be sent to server...
				})
			} else {
				this.imageName = ''
				this.imageFile = ''
				this.imageUrl = ''
			}
		}
    }
  }
</script>