<template>
  <v-data-table
    :headers="headers"
    :items="categories"
    class="elevation-5"
  >
    <template slot="items" slot-scope="props">
      <!--<td><img width="50" :src="props.item.avatar"/></td>-->
      <td>{{ props.item.id }}</td>
      <td>{{ props.item.name }}</td>
      <td v-if="props.item.parent">{{ props.item.parent.name }}</td>
      <td v-else></td>
      <td>
        <button @click="editCategory(props.item.id)"><v-icon>edit</v-icon></button>
        <button @click="removeCategory(props.item.id)"><v-icon>delete</v-icon></button>
      </td>
    </template>
  </v-data-table>
</template>

<script>
  export default {
    name: 'app-category-table',
    data () {
      return {
        headers: [
          // {
          //     text: 'Avatar',
          //     sortable: false
          // },
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'Name', value: 'name' },
          { text: 'Parent', value: 'parent' },
          { text: 'Action', value: '' }
        ]
      }
    },
    methods: {
        editCategory(id) {
          window.application.$emit('CREATE_DIALOG_IN_EDIT_MODE', id);
        },
        removeCategory(id) {
            this.$store.dispatch('removeCategory', id);
        }
    },
    computed: {
        categories () { return this.$store.getters['categories']; }
    },
    watch: {
        categories(newval, oldval) {
            console.info("Changed cat ", newval, oldval);
        }
    },
    created() {
      this.$store.dispatch('categories');
    }
  }
</script>
