<template>
  <v-layout row justify-center>
    <v-dialog v-model="dialog" persistent max-width="600">
      
       <v-btn slot="activator"
              absolute
              dark
              fab
              bottom
              right
              color="pink"
            >
              <v-icon>add</v-icon>
            </v-btn>
      <v-card>
        <v-card-title class="headline">Create Category</v-card-title>
        <v-card-text>
            <category-form :id="id"></category-form>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <!-- <v-btn color="green darken-1" flat @click="dialog = false">Disagree</v-btn>
          <v-btn color="green darken-1" flat @click="dialog = false">Agree</v-btn> -->
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-layout>
</template>

<script>
import CategoryForm from './CategoryForm';
  export default {
    components: {
        CategoryForm
    },
    data () {
      return {
        dialog: false,
        id: null
      }
    },
    created() {
        window.application.$on('CLOSE_CREATE_DIALOG', () => {
            this.dialog = false;
        });

        window.application.$on('CREATE_DIALOG_IN_EDIT_MODE', (data) => {
            this.dialog = true;
            this.id = data;
            console.log("Data ", data)
        });
    }
  }
</script>