<template>
    <v-layout row>
        <v-flex xs12>
            <v-data-table
                    :headers="headers"
                    :items="products"
                    perPage="25"
                    class="elevation-1"
            >
                <template slot="items" slot-scope="props">
                    <td>{{ props.item.name }}</td>
                </template>
            </v-data-table>
            <v-btn
                    color="primary"
                    dark
                    small
                    absolute
                    bottom
                    right
                    fab
            >
                <v-icon>add</v-icon>
            </v-btn>
        </v-flex>
    </v-layout>
</template>

<script>
    export default {
        name: "ProductHome",
        data () {
            return {
                headers: [
                    {
                        text: 'Name',
                        align: 'left',
                        sortable: false,
                        value: 'name'
                    }
                ]
            }
        },
        computed: {
            products() {
                return this.$store.getters['products/all']
            }
        }
    }
</script>

<style scoped>

</style>