<template>
    <v-container fluid>
        <v-layout>
            <v-flex xs12>
                <h1>Category</h1>
            </v-flex>
        </v-layout>
        <v-layout>
            <v-flex xs12 lg12>
                <category-table></category-table>
                <create-dialog></create-dialog>
            </v-flex>
        </v-layout>
        <v-snackbar
                v-model="snackbar"
                :bottom="y === 'bottom'"
                :left="x === 'left'"
                :multi-line="mode === 'multi-line'"
                :right="x === 'right'"
                :timeout="timeout"
                :top="y === 'top'"
                :vertical="mode === 'vertical'"
        >
            {{ text }}
            <v-btn
                    color="pink"
                    flat
                    @click="snackbar = false"
            >
                Close
            </v-btn>
        </v-snackbar>
    </v-container>
</template>


<script>
    import CategoryTable from '../components/category/CategoryTable.vue';
    import CreateDialog from '../components/category/CreateDialog.vue';

    export default {
        name: 'category',
        components: {
            CategoryTable,
            CreateDialog
        },
        data() {
            return {
                snackbar: false,
                y: 'top',
                x: null,
                mode: '',
                timeout: 6000,
                text: 'Hello, I\'m a snackbar'
            }
        },
        created() {
            window.application.$on('REMOVE_CATEGORY', () => {
                this.text = 'Category Removed';
                this.snackbar = true;
            });
        }
    }
</script>