<template>
  <v-container fluid>
    <v-layout row wrap>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
      <v-flex xs12 lg4>
        <Graph />
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
  import Graph from '../components/home/Graph'

  export default {
    components: {
        Graph
    }
  }
</script>
