<template>
    <v-container fluid>
        <v-layout>
            <v-flex>
                <h2>Products</h2>
                <product-home></product-home>
            </v-flex>
        </v-layout>
    </v-container>
</template>

<script>
    import ProductHome from "../components/product/ProductHome";
    export default {
        name: "Products",
        components: {ProductHome}
    }
</script>

<style scoped>

</style>