<template>
  <v-app>
    <v-toolbar app >
      <v-toolbar-side-icon @click.stop="toggleDrawer"></v-toolbar-side-icon>
    </v-toolbar>
    <app-drawer></app-drawer>

    <v-content>
      <v-container fluid>
        <router-view></router-view>
      </v-container>
    </v-content>
    <v-footer app>
      <div>&copy; {{ new Date().getFullYear() }}</div>
    </v-footer>
  </v-app>
</template>

<script>

import AppDrawer from "./components/AppDrawer";
export default {
  name: 'App',
    components: {AppDrawer},
    data () {
    return {
        drawer: true,
        mini: true,
        items: [
            { title: 'Dashboard', icon: 'dashboard', route: '/' },
            { title: 'Account', icon: 'account_box', route: '/brands' },
            { title: 'Admin', icon: 'gavel', route: '/' }
        ]
    }
  },
  created() {
      window.application = this;
  },
  computed: {
      chevron() {
          return this.mini ? 'chevron_right' : 'chevron_left';
      }
  },
    methods: {
        goRoute(name) {
          this.$router.push(name);
        },
        toggleDrawer() {
            window.application.$emit('APP_DRAWER_TOGGLED')
        }

    }
}
</script>

<style>
  .full-height {

  }
  .left {
    width: 15%;
    height: 98vh;
  }
  .main {
    width: 85%;
  }
</style>
